---
layout: side_drawer.liquid
options: mdl highlight sponsor
tags: documentation
group: playground
order: 9
icon: sports_soccer
title: Playground
summary: Embeddable components editor with live preview.
description: Client-side embeddable components editor.
keywords:
- playground
- embedded web components editor
- zuix.js
permalink: "playground/"
---

<script type="module" src="{{ app.libraryPath['@lib'] }}components/zx-playground.module.js"></script>
{% unpre %}
```html
<zx-playground :menu-items="menuItems" class="visible-on-ready notranslate" style="height: 80vh"></zx-playground>
<script>
    const menuItems = [
        {link: '#/app/examples/new-component', description: 'New component'},
        {link: '#/app/examples/custom-elements-01', description: 'Custom elements #1'},
        {link: '#/app/examples/custom-elements-02', description: 'Custom elements #2'},
        {link: '#/app/examples/default-component', description: 'Default component'},
        {link: '#/app/widgets/time-clock', description: 'Time clock'},
        {link: '#/app/widgets/analog-clock', description: 'Analog clock'}
    ];
</script>
```
{% endunpre %}


<div layout="row center-center">

    <a ctrl z-load="@lib/controllers/mdl-button"
       :type="'flat'" class="margin-16px visible-on-ready"
       title="Link to Playground Component docs"
       href="https://zuixjs.github.io/zkit/content/components/zx-playground/">
        Playground Component docs
    </a>

</div>
