---
layout: side_drawer.liquid
options: mdl no-title content-only
tags: documentation
group: playground
order: 1
icon: sports_soccer
title: Playground
summary: Embeddable components editor with live preview.
description: Client-side embeddable components editor.
keywords:
- playground
- embedded web components editor
- zuix.js
permalink: "playground/"
---

<script type="module" src="{{ app.libraryPath['@lib'] }}components/zx-playground.module.js"></script>
{% unpre %}
```html
<div layout="column stretch-center" class="notranslate">
  <zx-playground :menu-items="menuItems"
                 class="visible-on-ready"></zx-playground>
</div>
<script>
    const menuItems = [
        {link: '#/app/examples/new-component', description: 'New component'},
        {link: '#/app/examples/custom-elements-01', description: 'Custom elements #1'},
        {link: '#/app/examples/custom-elements-02', description: 'Custom elements #2'},
        {link: '#/app/examples/default-component', description: 'Default component'},
        {link: '#/app/widgets/time-clock', description: 'Time clock'},
        {link: '#/app/widgets/analog-clock', description: 'Analog clock'},
        {link: '#https://homegenie.it/app/widgets/break-out', description: 'Breakout (from homegenie.it)'},
        {link: '#https://homegenie.it/app/widgets/weather-station', description: 'Weather Station (from homegenie.it)'},
        {link: '#https://homegenie.it/app/widgets/asteroids', description: 'Asteroids (from homegenie.it)'},
        {link: '#https://homegenie.it/app/widgets/simon-says', description: 'Simon Says (from homegenie.it)'}
    ];
</script>
<style>
    .gtranslate_wrapper {
        display:none;
    }
    [z-component][z-css-0] {
        height: 100vh !important;
    }
    .component-preview {
        height: 50vh!important;
    }
    .main-container {
        height: 50vh!important;
    }
    [\#header] {
        background: transparent!important;
        box-shadow: none!important;
        pointer-events: none;
    }
    [\#header] h1 {
        display: none;
    }
</style>
```
{% endunpre %}

<!--
<div layout="row center-center">

    <a ctrl z-load="@lib/controllers/mdl-button"
       :type="'flat'" class="margin-16px visible-on-ready"
       title="Link to Playground Component docs"
       href="https://zuixjs.github.io/zkit/content/components/zx-playground/">
        Playground Component docs
    </a>

</div>
-->
