<ul>
    {%- for post in collections.posts_documentation -%}
    {% assign match = page.url | split:post.url %}
    <li {% if match[0] == blank %} aria-current="page"{% endif %}>
        <a href="{{ post.url | url }}" class="mdl-js-ripple-effect" style="overflow:hidden;">
            <div layout="row center-justify">
                <span>{{ post.data.title }}</span>
                <i class="material-icons">{{ post.data.icon }}</i>
            </div>
            <div class="summary">
                {{ post.data.summary }}
            </div>
            <span class="mdl-ripple"></span>
        </a>
    </li>
    {%- endfor -%}
</ul>
