{% if group and collections[group] %}

    {% assign prevPost = collections[group] | sort: 'data.pubDate' | reverse | sort: 'data.order' | getPreviousCollectionItem: page %}
    {% assign nextPost = collections[group] | sort: 'data.pubDate' | reverse | sort: 'data.order' | getNextCollectionItem: page %}

    <div layout="rows center-spread" style="margin-top: 112px; gap:12px; margin-bottom: 32px; padding-left: 8px; padding-right: 8px; font-size: 140%">

        {% if prevPost %}
        <a href="{{ prevPost.url |  url }}" style="text-align: center">
            <label layout="row center-center">
                <i class="material-icons">arrow_left</i>&nbsp;
                <span style="padding-right: 24px">Previous</span>
            </label>
            <div class="mdl-color-text--pink">{{ prevPost.data.title }}</div>
        </a>
        {% else %}
            <div>&nbsp;</div>
        {% endif %}

        {% if nextPost %}
        <a href="{{ nextPost.url |  url }}" style="text-align: center">
            <label layout="row center-center">
                <span style="padding-left: 24px">Next</span>
                <i class="material-icons">arrow_right</i>&nbsp;
            </label>
            <div class="mdl-color-text--pink">{{ nextPost.data.title }}</div>
        </a>
        {% else %}
        <div>&nbsp;</div>
        {% endif %}

    </div>

{% endif %}
