<div style="margin-top: 24px">
    <a ctrl z-load="@lib/controllers/mdl-button" class="visible-on-ready" z-lazy="true"
       href="../../../playground/#{{ component_id }}"
       :type="'flat'" :class="'accent'" style="text-transform: none">
        <i class="material-icons rotate notranslate" style="">sports_soccer</i>
        <span>Try this in the Playground</span>
    </a>
</div>
