---
layout: landing_page.liquid
redirect: pages/documentation/about/
order: 1
title: zuix.js
description: A lightweight library for creating component based websites and applications.
keywords:
- zuix.js
- web components
- custom elements
- webdev
- home
- welcome
- landing page
---
<div layout="column center-center" class="animate__animated animate__fadeOut animate__faster">
    <img src="{{ 'images/zuix-logo.svg' | url }}" alt="zuix.js logo" class="animate__animated animate__rotateOut animate__faster">
    <h1><a href="{{ redirect | url }}">Web Starter</a></h1>
</div>
